.skill-container {
  background-color: #f4fafd;
  display: flex;
  padding: 50px 0;
}

.skill-container p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin-bottom: 4rem;
}

.skills {
  display: grid;
  grid-template-columns: 600px 600px;
  gap: 2rem;
}

.progress-bar .html {
  width: 100%;
}

.progress-bar .css {
  width: 90%;
}

.progress-bar .javascript {
  width: 75%;
}

.progress-bar .php {
  width: 80%;
}

.progress-bar .wordpress {
  width: 90%;
}

.progress-bar .photoshop {
  width: 55%;
}

.skill-info {
  display: flex;
  justify-content: space-between;
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  font-weight:600;
  color: #000;
  margin-bottom: 5px;
}

.progress-bar {
  background-color: lightgray;
  height: 10px;
  overflow: hidden;
}

.progress {
  background-color: #149ddd;
  height: 100%;
  width: 0;
  transition: width 1s ease;
  animation: fill 2s ease forwards;
}


/* Define animation keyframes */
@keyframes fill {
  from {
    width: 0;
  }
  to {
    width: var(--target-width);
  }
}

/* Set custom widths using CSS variables */
.html, .progress { --target-width: 100%; }
.css .progress { --target-width: 90%; }
.javascript .progress { --target-width: 75%; }
.wordpress .progress { --target-width: 90%; }
.php .progress { --target-width: 80%; }
.photoshop .progress { --target-width: 55%; }